<div class style= "margin:15px">
  <div>
    <h4>
      Phase 2:
      <small class="text-muted">Participants Choose 2 Workshops</small>
    </h4>

    <button type="button" class="btn btn-default">
      <%= link_to "Homepage", home_path %>
    </button>
    
    <button type="button" class="btn btn-default">

      <%= link_to "Phase 1", phase1s_path %>
    </button>
    
    <button type="button" class="btn btn-default">
      <%= link_to "Phase 1 Results", phase1_results_path %>
    </button>
    
    <button type="button" class="btn btn-primary activebutton">
      <%= link_to "Phase 2", phase2s_path %>
    </button>
    
    <button type="button" class="btn btn-default">
      <%= link_to "Phase 2 Results", phase2_results_path %>
    </button>
    
    <br></br>
    
    
    <button type="button" class="btn btn-default">
      <%= link_to "Add New", new_phase2_path %>
    </button>
    
    <button type="button" class="btn btn-default">
      <%= link_to "Generate Results", phase2_results_path %>
    </button>
    
    <button type="button" class="btn btn-default">
      <%= link_to "Clear All", remove_all_phase2s_path, :method => :get %>
    </button>
    

  </div>
  
  <br>
  
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">NRIC</th>
        <th class="text-center">School</th>
        <th class="text-center">Class</th>
        <th class="text-center">Email</th>
        <th class="text-center">Phone</th>
        <th class="text-center">Choice 1</th>
        <th class="text-center">Choice 2</th>
      </tr>
    </thead>
  
    <tbody>
      <% @phase2s.each do |p| %>
        <tr>
          <td class="text-center"><%= p.name %></td>
          <td class="text-center"><%= p.nric %></td>
          <td class="text-center"><%= p.school %></td>
          <td class="text-center"><%= p.class_name %></td>
          <td class="text-center"><%= p.email %></td>
          <td class="text-center"><%= p.phone %></td>
          <td class="text-center"><%= p.choice_1 %></td>
          <td class="text-center"><%= p.choice_2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<div class="row text-right" style="margin:10px">
  <ul class="pagination">
      <% for page in 1..@pages+1%>
      <li class="<%= 'active' if @current_page==page %>"><a href="/phase2s?page=<%=page%>"><%=page%></a></li>
      <% end %>
  </ul>
</div>