<div class style= "margin:15px">
  
  <button type="button" class="btn btn-default">
      <%= link_to "Generate Excel", phase2_results_path(format: "xls") %>
  </button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>NRIC</th>
      <th>School</th>
      <th>Class</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Final Selection</th>
    </tr>
  </thead>

  <tbody>
    <% @phase2_result.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.nric %></td>
        <td><%= p.school %></td>
        <td><%= p.class_name %></td>
        <td><%= p.email %></td>
        <td><%= p.phone %></td>
        <td><%= p.final_selection %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row text-right" style="margin:10px">
<ul class="pager">
    <% for page in 1..@pages+1%>
    <li class="<%= 'active' if @current_page==page %>"><a href="/phase2_results?page=<%=page%>"><%=page%></a></li>
    <% end %>
</ul>
</div>

