
<div class style= "margin:10px">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>NRIC</th>
      <th>School</th>
      <th>Class</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Choice 1</th>
      <th>Choice 2</th>
      <th>Choice 3</th>
      <th>Choice 4</th>
      <th>Choice 5</th>
    </tr>
  </thead>

  <tbody>
    <% @phase1s.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.nric %></td>
        <td><%= p.school %></td>
        <td><%= p.class_name %></td>
        <td><%= p.email %></td>
        <td><%= p.phone %></td>
        <td><%= p.choice_1 %></td>
        <td><%= p.choice_2 %></td>
        <td><%= p.choice_3 %></td>
        <td><%= p.choice_4 %></td>
        <td><%= p.choice_5 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="row text-right" style="margin:10px">
<ul class="pagination">
    <% for page in 1..@pages+1%>
    <li class="<%= 'active' if @current_page==page %>"><a href="/phase1s?page=<%=page%>"><%=page%></a></li>
    <% end %>
</ul>
</div>

<%= link_to "generate results", phase1_results_path %>