<!DOCTYPE html>
<html>
<head>
  <title><%= t('posts.index.sorting_hat', default: "Sorting Hat") %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="<%= root_path %>"><%= t('posts.index.sorting_hat', default: "Sorting Hat") %></a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <% if current_user %>
                      <li><%= link_to(user_registration_path(current_user)) %></li>
                      <li><%= link_to(user_registration_path(current_user)) %></li>
                      <li><%= link_to(edit_user_registration_path(current_user), :target => "_blank") %></li>
                      <li><%= link_to(t('.sign_out', default: "Sign Out"), destroy_user_session_path, method: :delete) %></li>
                    <% else %>
                      <li><%= link_to(t('.sign_up', default: "Sign Up"), new_user_registration_path) %></li>
                      <li><%= link_to(t('.sign_in', default: "Sign In"), user_session_path) %></li>
                    <% end %>
                </ul>
                <ul class="navbar-brand topnav navbar-right"></ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
